.autoWidthDiv {
  display: inline-block;
  position: relative;
  height: 44px;

  .autoWidthSpan {
    visibility: hidden;
    white-space: pre;
    font-size: 16px;
    font-family: 'Inter', sans-serif;

    padding: 12px 20px;
    border: 2px solid none;
  }

  .autoWidthInput {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    min-width: 210px;
    max-width: 916px;
    // min-width: 50px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    padding: 12px 20px;
    font-family: 'Inter', sans-serif;
    outline: none;
    color: #172b4d;

    transition: 0.3s ease;

    &:hover,
    &:focus {
      border: 2px solid #ccc;
      background-color: #f8f8f8;
    }
  }
}
