.modal {
  position: relative;
  width: 1012px;
  min-height: 250px;
  margin-bottom: 420px;
  background: #f9f6f3;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  // padding: 10px;
  text-align: start;
  transition: opacity 0.2s ease-out;

  .exit {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: #eee;
      border-radius: 21px;
      opacity: 0.6;
    }
  }
}

.taskImg {
  object-fit: cover;
  position: relative;
  // border-style: solid;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
  }

  .changeImg {
    position: absolute;
    top: 0;
    margin: 10px;
    width: 982px;
    height: 170px;
    border: 5px dashed #5ba9e9;
    border-radius: 16px;
    background: #5ba9e977;
    transition: all 0.5s ease;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    span {
      font-weight: 600;
      font-size: 20px;
    }

    .iconBorder {
      border-radius: 64px;
      border: solid;
      padding: 10px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #f9f6f3;
  position: absolute;
  top: 200px;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
  gap: 1em;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: scroll;
  max-height: 600px;
  width: 992px;
}

.exit {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    background-color: #eee;
    opacity: 0.6;
  }
}

.textarea {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #172b4d;
  transform: translateZ(0); /* Включить аппаратное ускорение */
  backface-visibility: hidden; /* Улучшить рендеринг */
  transition: 0.3s ease;

  &:hover,
  &:focus {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
  }
}

.summarySpan {
  visibility: hidden;
  white-space: pre;
  font-size: 16px;
  padding: 12px 20px;
}

.summaryInput {
  field-sizing: content;
  max-width: 916px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 20px;
  transition: 0.3s ease;
  outline: none;
  color: #172b4d;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
  }
}

span {
  word-wrap: break-word;
  overflow-wrap: break-word;

  &::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
  }
}

.dateInput {
  position: relative;
  padding: 4px;
  color: #172b4d;
  grid-area: 2 / 2 / 3 / 3;
  height: 20px;
  width: 92px;
  padding: 12px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: start;
  background-color: transparent;
  border: 2px solid transparent;
  transition: 0.3s ease;
  appearance: none; /* Убираем стандартные стили */
  -webkit-appearance: none; /* Для Safari и Chrome */
  -moz-appearance: none;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
    cursor: pointer;

    // display: none;
  }

  &:hover,
  &:focus {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
  }
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;
  padding: 0 10px;
  height: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: 1px solid transparent;
}
.createButton {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #71c98d;
  color: #2b313f;
  transition: all 0.2s linear;

  &:hover {
    background-color: #f9f6f3;
    color: #71c98d;
    border: 1px solid #71c98d;
  }

  &:active {
    background-color: #f9f6f3;
    color: darken(#71c98d, 20%);
    border: 1px solid darken(#71c98d, 20%);
    transform: scale(0.9);
  }
}

.editButton {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #5ba9e9;
  color: #2b313f;
  transition: all 0.2s linear;

  &:hover {
    background-color: #f9f6f3;
    color: #5ba9e9;
    border: 1px solid #5ba9e9;
  }

  &:active {
    background-color: #f9f6f3;
    color: darken(#5ba9e9, 20%);
    border: 1px solid darken(#5ba9e9, 20%);
    transform: scale(0.9);
  }
}

.removeButton {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #e5566a;
  color: #2b313f;
  transition: all 0.2s linear;

  &:hover {
    background-color: #f9f6f3;
    color: #e5566a;
    border: 1px solid #e5566a;
  }

  &:active {
    background-color: #f9f6f3;
    color: darken(#e5566a, 20%);
    border: 1px solid darken(#e5566a, 20%);
    transform: scale(0.9);
  }
}

.buttonRow {
  display: flex;
  // width: 500px;
  position: absolute;
  top: -13px;
  right: 0px;
  color: red;
  gap: 10px;
}

// input {
//   padding: 8px;
//   border-radius: 5px;
//   transition: all 0.2s linear;
//   border: none;
//   background-color: #f9f6f3;
//   width: fit-content;
//   min-width: 10px;

//   &:hover {
//     box-shadow: 0px 0px 10px #172b4d30;
//   }

//   &:focus {
//     outline: none;
//     background: #eee;
//     box-shadow: 1px 1px 3px #172b4d30;
//   }
//   &:empty::before {
//     color: red;
//     font-size: 1.2em;
//     font-style: italic;
//   }

//   ::placeholder {
//     color: #ccc;
//   }
// }
